{% extends 'base.html.twig' %}

{% block title %}Kortspel{% endblock %}

{% block body %}

<div class="content">
    <div class="row">
        <h1>Kortspel</h1>
    </div>
    
    <div class="row">
        <div class="column">
        <p>Välkommen till Kortspelet! Detta är en enkel applikation för ett kortspel som är byggt med Symfony.</p>

        <img src="{{ asset('img/carduml.png') }}" height="300" alt="UML klassdiagram för Kortspel" />

        <h2>Klasstruktur</h2>
        <ul>
            <li><strong>Card (Kort):</strong> Representerar ett enskilt spelkort med en valör och en svit. Det kan vara en vanlig lek med 52 kort eller en speciallek med jokrar.</li>
            <li><strong>CardHand (Korthand):</strong> Representerar en spelares hand av kort. Den kan innehålla en eller flera kort.</li>
            <li><strong>DeckOfCards (Kortlek):</strong> Representerar en hel kortlek med 52 kort eller fler, beroende på om det finns jokrar eller andra specialkort.</li>
        </ul>

        <ul>
            <li><a href="{{ path('card') }}">Hem</a></li>
        </ul>

        </div>
    </div>
</div>
{% endblock %}
