{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="content">
    <div class="row">
        <h1>Min sida i kursen</h1>
    </div>
    <div class="row">
        <div class="column">
            <img class="rounded center" src="{{ asset('img/alice.png') }}" height="300" />
        
            <h2>Lite om mig</h2>

            <p>Jag heter Alice Bergdahl, och jag pluggar kursen Databasteknologier för webben på distans från Blekinge Tekniska Högskola. Jag är 24 år och är född i Lund men bor sedan ca tre år tillbaka i Lissabon. Här har jag studerat lite olika kurser på distans från olika universitet i Sverige, och jobbar just nu även extra på en restaurang.</p>

        </div>
    </div>
</div>

{% endblock %}